<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Tela principal</h1>
    
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Validação nativa.</h5>
          <p class="card-text">Recebimento e validação de texto.</p>
          <a routerLink="/formulario1" class="btn btn-dark">Formulário 01</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Validação de data limite.</h5>
          <p class="card-text">Recebimento e validação de texto e datas.</p>
          <a routerLink="/formulario2" class="btn btn-dark">Formulário 02</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Validação de comparação de dados.</h5>
          <p class="card-text">Recebimento e validação de texto e comparação de senhas.</p>
          <a routerLink="/formulario3" class="btn btn-dark">Formulário 03</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Validação com paramêtros.</h5>
          <p class="card-text">Recebimento e validação de texto e validação de domínio de e-mail.</p>
          <a routerLink="/formulario4" class="btn btn-dark">Formulário 04</a>
        </div>
      </div>
    </div>
  </div>
</div>
